body {
  background-color: #0d003c;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#dd0000, #fecf11, #22ff00, #096bff);
}
.loader span:nth-child(1) {
  filter: blur(20px);
}
.loader span:nth-child(2) {
  filter: blur(30px);
}
.loader span:nth-child(3) {
  filter: blur(40px);
}
.loader span:nth-child(4) {
  filter: blur(50px);
}
.loader:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: #0d003c;
  border-radius: 50%;
}

.enter {
  padding: 40px;
  background-color: #3902ff;
  color: black;
  border-radius: 50px;
  border-style: none;
  font-size: 25px;
  font-family: "Orbitron", sans-serif;
  margin-top: 100px;
  cursor: pointer;
  box-shadow: 3px 3px 10px black;
}

.enter:hover {
  opacity: 0.8;
  background-color: rgb(40, 28, 28);
  color: white;
  transition: background-color 0.25s, color 0.25s;
}

.enter:active {
  opacity: 0.5;
  transition-duration: 1s;
}