<!DOCTYPE html>
<!--Als je code wil laten zien op een prettige manier, kan je dit file gebruiken als template hiervoor.
    Kopieer regel 10-13 in the head en zet de code die je wilt laten zien.
    Gebruik de code op regel 20 om de voorbeeldcode te laten zien.
    Vertaal je voorbeeldcode met een "HTML Encode" tool, en stop hem in het midden van regel 20.-->
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/go.min.js"></script>
  <script>hljs.highlightAll();</script>
</head>

<body>

<pre><code class="language-html"></code></pre>


</body>

</html>